body,
html {
	height: 100%;
}

body {
	background-color: white;
	font-family: 'Fira Sans', sans-serif;
	font-size: 13px;
	margin:0;
	color: @charcoal;
}

.body-wrapper {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-wrapper {
	flex: 1;
}


a {
	text-decoration: underline;
}

img {
	width: 100%;
	height: auto;
}

.wrapper {
	width: 100%;
	padding: 20px;
	// background-color: @cream;
}

.page__title {
	font-size: 24px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(60, 60, 60, 0.2);
}

.about-maria {
	line-height: 30px;
    font-size: 15px;
    padding-top: 40px;
}

.maria-photo {
	padding-top: 20px;
}

.events-photo {
	padding-top: 35px;
}

.events-services li {
	margin-bottom: 5px;
}

.container-fluid:after,
.container-fluid:before,
.row:after,
.row:before {
	content: none;
}

