.navbar {
	border-radius: 0;
	margin-bottom: 0;
	z-index: 10;
	padding: 20px;
	display: flex;

	.container-fluid {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		.navbar-header {
			.navbar-brand {
				height: auto;
				color: #fff;
				width: 100px;
				padding: 0;
			}
		}
		.navbar-collapse {
			.navbar-nav {
				li {
					padding: 10px 16px;

					a {
						text-transform: uppercase;
						text-decoration: none;
						color: #fff;
						border-bottom: 1px solid transparent;
						padding: 12px 0;

						&:hover, &:focus, &.active {
							text-decoration: none;
							border-bottom: 1px solid #FFFFFF;
							background: transparent;
						}
					}
				}

				.dropdown {
					.dropdown-menu {
						margin-top: -20px;
						li {
							height: auto;
							padding: 0px 5px;
							a {
								color: #000000;
								border-bottom: 0;
								opacity: 0.6;

								&:hover, &:focus, &.active {
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
		
	}
	.navbar-toggle {
		margin: 0;
		.icon-bar {
			background-color: white;
		}
	}
}


.navbar--dark {
	.container-fluid {
		.navbar-header {
			.navbar-brand {
				color: #000000;
			}
		}
		.navbar-collapse {
			.navbar-nav {
				li {
					a {
						color: #000000;
						&:hover, &:focus, &.active {
							border-color: #000000;
						}
					}
				}

				.dropdown {
					.dropdown-menu {
						margin-top: -20px;
						li {
							height: auto;
							padding: 0px 5px;
						}
					}
				}
			}
		}
		
	}
	.navbar-toggle {
		margin: 0;
		.icon-bar {
			background-color: #000000;
		}	
	}	
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: transparent;
}