body,
html {
  height: 100%;
}
body {
  background-color: white;
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  margin: 0;
  color: #3c3c3c;
}
.body-wrapper {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content-wrapper {
  -ms-flex: 1;
  flex: 1;
}
a {
  text-decoration: underline;
}
img {
  width: 100%;
  height: auto;
}
.wrapper {
  width: 100%;
  padding: 20px;
}
.page__title {
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(60, 60, 60, 0.2);
}
.about-maria {
  line-height: 30px;
  font-size: 15px;
  padding-top: 40px;
}
.maria-photo {
  padding-top: 20px;
}
.events-photo {
  padding-top: 35px;
}
.events-services li {
  margin-bottom: 5px;
}
.container-fluid:after,
.container-fluid:before,
.row:after,
.row:before {
  content: none;
}
.footer {
  height: 60px;
  margin-top: 20px;
  z-index: 10;
  color: #000000;
  width: 100%;
  bottom: 10px;
  position: relative;
}
.footer ul {
  list-style-type: none;
}
.footer ul li {
  display: inline-block;
  float: right;
  height: 60px;
  font-weight: 400;
  padding: 20px;
  font-size: 11px;
}
.footer i {
  color: #000000;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  z-index: 10;
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
}
.navbar .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.navbar .container-fluid .navbar-header .navbar-brand {
  height: auto;
  color: #fff;
  width: 100px;
  padding: 0;
}
.navbar .container-fluid .navbar-collapse .navbar-nav li {
  padding: 10px 16px;
}
.navbar .container-fluid .navbar-collapse .navbar-nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid transparent;
  padding: 12px 0;
}
.navbar .container-fluid .navbar-collapse .navbar-nav li a:hover,
.navbar .container-fluid .navbar-collapse .navbar-nav li a:focus,
.navbar .container-fluid .navbar-collapse .navbar-nav li a.active {
  text-decoration: none;
  border-bottom: 1px solid #FFFFFF;
  background: transparent;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  margin-top: -20px;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu li {
  height: auto;
  padding: 0px 5px;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu li a {
  color: #000000;
  border-bottom: 0;
  opacity: 0.6;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu li a:hover,
.navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu li a:focus,
.navbar .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu li a.active {
  opacity: 1;
}
.navbar .navbar-toggle {
  margin: 0;
}
.navbar .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar--dark .container-fluid .navbar-header .navbar-brand {
  color: #000000;
}
.navbar--dark .container-fluid .navbar-collapse .navbar-nav li a {
  color: #000000;
}
.navbar--dark .container-fluid .navbar-collapse .navbar-nav li a:hover,
.navbar--dark .container-fluid .navbar-collapse .navbar-nav li a:focus,
.navbar--dark .container-fluid .navbar-collapse .navbar-nav li a.active {
  border-color: #000000;
}
.navbar--dark .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  margin-top: -20px;
}
.navbar--dark .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu li {
  height: auto;
  padding: 0px 5px;
}
.navbar--dark .navbar-toggle {
  margin: 0;
}
.navbar--dark .navbar-toggle .icon-bar {
  background-color: #000000;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background: transparent;
}
.light-italic {
  font-weight: 300;
  font-style: italic;
}
.normal {
  font-weight: 400;
}
.normal-italic {
  font-weight: 400;
  font-style: italic;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.bold-italic {
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: navLinks;
  src: url(/fonts/copperplate-regular.ttf);
}
.lc-section title {
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.menu__item-name {
  font-weight: 500;
  font-size: 15px;
}
.menu__item-desc {
  font-weight: 300;
  font-style: italic;
}
.section {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.row .section:last-child {
  margin-bottom: 0px;
}
.section__title {
  text-transform: uppercase;
  font-size: 18px;
}
.section__desc {
  font-size: 12px;
}
.welcome {
  width: 100%;
  padding: 0;
  position: relative;
  margin-top: -120px;
  display: inline-block;
}
.welcome__landing {
  z-index: -2;
  width: 100%;
  height: 810px;
  display: inline-block;
  margin-bottom: 100px;
  position: relative;
}
.welcome__image {
  z-index: -3;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 810px;
  background-image: url('/img/mushrooms.jpg');
  background-size: cover;
}
.welcome__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 810px;
  background-color: rgba(214, 212, 200, 0.7);
}
.welcome__landing-content {
  width: 70%;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 20;
  text-align: center;
  right: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.welcome__logo {
  display: inline-block;
  float: left;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  vertical-align: middle;
  border-right: 1px solid white;
  padding-right: 100px;
}
.welcome__tagline {
  display: inline-block;
  float: left;
  text-align: left;
  font-size: 30px;
  color: #fff;
  width: 50%;
  vertical-align: middle;
  padding-left: 100px;
}
.welcome__event {
  font-weight: 500;
}
.welcome__section {
  max-width: 1000px;
  width: 70%;
  margin: 0 auto;
}
.welcome__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.welcome__wrapper h4 {
  font-size: 16px;
  font-weight: 500;
}
.welcome__icon {
  width: auto;
  height: 100px;
  margin: 0 auto 40px;
  margin-bottom: 20px;
  text-align: center;
  opacity: .8;
}
.welcome__icon img {
  width: auto;
  height: 100%;
}
.welcome__header {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 60px;
  text-align: center;
}
/* All */
@media (max-width: 768px) {
  .welcome__landing {
    height: 500px;
  }
  .welcome__image {
    height: 500px;
  }
  .welcome__overlay {
    height: 500px;
  }
  .welcome__landing-content {
    width: 80%;
  }
  .welcome__logo {
    display: none;
  }
  .welcome__tagline {
    width: 100%;
    padding-left: 0px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .welcome__images {
    display: block;
  }
}
/* Large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=app.css.map */
